<h2 mat-dialog-title> {{ estadoFormulario }} nuevo Producto </h2>
<mat-dialog-content>

    <form [formGroup]="productForm">
        <div class="product-container">

            <mat-form-field>
                <input matInput placeholder="sku" formControlName="sku" required/>
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="Título" formControlName="titulo" required/>
            </mat-form-field>
             
            <mat-form-field>
                <input matInput placeholder="Descripción" formControlName="descripcion" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Precio" formControlName="price" required />
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Metodos de pago" formControlName="metodoPago" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Cantidad Disponible" formControlName="account" required />
            </mat-form-field>

            
            <mat-form-field>
                <input matInput placeholder="Nombre del vendedor" formControlName="nombreVendedor" required />
            </mat-form-field>

             <mat-form-field>
                <input matInput placeholder="Dirección del vendedor" formControlName="direccionVendedor" required />
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Número de contacto del vendedor" formControlName="contactoVendedor" required />
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Reputación del vendedor" formControlName="reputacionVendedor" required />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let cat of categories" [value]="cat.id">
                        {{ cat.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <mat-label> Foto: </mat-label>
                <label for="file-upload" class="subir">
                    Subir archivo
                </label>

                <input id="file-upload"
                        accept="image/png, image/jpeg"
                        (change)="onFileChanged($event)"
                        type="file"
                        formControlName="picture"
                        class="input-file"/>
                    <span> {{ nameImg }}</span>
            </div>





        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions>

    <button mat-button color="primary" (click)="onSave()" [disabled]="productForm.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>

    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>

</mat-dialog-actions>
